	a:link{color:#0C0; text-decoration:none;}
	a:visited{color:#0C0; text-decoration:none;}
	dd{
		color:#F00;
		background-color:#CCE8CF;
	}
	body{
		background-image:url(../image/studyBgImage.jpg);	/*定义背景图片*/
		background-attachment:fixed;	/*背景图片不动*/
		background-size:cover;
/*		background-size:100% 100%;	长宽适应浏览器*/
		

	}
	
	#scrollto{		/*定义返回顶部图片位置；*/
		position:fixed;
 		right: 30px;
		bottom:30px;
		border:5px solid #FFF;
		
	}
	#hideAll{
		position:fixed;
 		left: 0px;
		bottom:0px;
		
		}
	button{
		width:100%;
		background-color:transparent;
		border-color:#FF0;
		}
	
	dt{
		text-align:center;
		background-color:#000;
		width:inherit;
		padding:2px;
		margin:2px;
		font-size:20px;
		
		}
	H3{
		color:#0F0;
		font-size:20px;
		font-style:italic;
		}